<div class="container textarea">
  <%= form_with model: @user, local: true do |f| %>
  <div class="form">
    <div class="content">
      <p class="title"><%= f.label :store_name, "Twitterアカウント" %></p>
      <%= f.text_area :name, id:"name", placeholder:"＠以降を一人1行で入力してください(@を含めても可)\n(例)\n@abcd\nyyoo" ,rows:"25" %>
    </div>

    <div class="atena">
      <p class="title"><%= f.label :store_name, "敬称" %></p>
      <p class="row">※宛名と送信文章の間は1行分空けています。</p>
      <%= f.text_area :atena, id:"atena", placeholder:"(例)様へ", rows:"10" %>
    </div>
    
    <div class="content">
      <p class="title"><%= f.label :store_name, "文章" %></p>
      <%= f.text_area :text, id:"text", placeholder:"送る文章を入力してください。", rows:"25" ,maxlength:"10000" %>
    </div>
  </div>
  <div class="submit">
    <%= f.submit "保存する" ,class:"btn" %>
    <!--<p style="margin-top:20px;">※こちらで一度保存してから、下の送信ボタンでDMを送ってください。</p>-->
  </div>
  <% end %>
  <!--<p class="line">------------------------------------------------------------------------------------</p>
  <p><button id="indicator" class="btn2">送信開始</button></p>-->
</div>